<section class="py-0 py-xl-5">
	<div class="container">
		<div class="row g-4">
			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3" style="height: 2.6cm;">
					<span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv" style="font-size: 2cm;"></i></span>
					<div class="ms-4 h6 fw-normal">
						<div class="d-flex">
							<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10"	data-purecounter-delay="200">20</h5>
							<span class="mb-0 h5">+</span>
						</div>
						<p class="mb-0">Online & Offline darslar</p>
					</div>
				</div>
			</div>
			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="d-flex justify-content-center align-items-center p-4 bg-blue bg-opacity-15 rounded-3" style="height: 2.6cm;">
					<span class="display-6 lh-1 text-blue mb-0"><i class="fas fa-user-tie" style="font-size: 2cm;"></i></span>
					<div class="ms-4 h6 fw-normal">
						<div class="d-flex">
							<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="200" data-purecounter-delay="200">5</h5>
							<span class="mb-0 h5">+</span>
						</div>
						<p class="mb-0">Ekspert ustozlar</p>
					</div>
				</div>
			</div>
			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-15 rounded-3" style="height: 2.6cm;">
					<span class="display-6 lh-1 text-purple mb-0"><i class="fas fa-user-graduate" style="font-size: 2cm;"></i></span>
					<div class="ms-4 h6 fw-normal">
						<div class="d-flex">
							<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="60"	data-purecounter-delay="200">100</h5>
							<span class="mb-0 h5">+</span>
						</div>
						<p class="mb-0">Muvaffaqiyatli talablar</p>
					</div>
				</div>
			</div>
			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-15 rounded-3" style="height: 2.6cm;">
					<span class="display-6 lh-1 text-info mb-0"><i class="bi bi-patch-check-fill" style="font-size: 2cm;"></i></span>
					<div class="ms-4 h6 fw-normal">
						<div class="d-flex">
							<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300">5</h5>
							<span class="mb-0 h5">+</span>
						</div>
						<p class="mb-0">IT loyihalar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>