@page "/contactus"
@using landing.Components.ContactDetails

<ContactInfo/>

<section>
	<div class="container">
		<div class="row g-4 g-lg-0 align-items-center">
			<div class="col-md-6 align-items-center text-center">
				<!-- Image -->
    			<img src="assets/images/element/contact.png" class="h-600px" alt="">
				<SocialMediaButtons/>
			</div>

			<!-- Contact form START -->
			<div class="col-md-6">
				<!-- Title -->
				<h2 class="mt-4 mt-md-0">Keling tanishamiz</h2>
				<p>O'zingizni qiziqtirgan savol va takliflaringiz yuzasidan, yoki shunchaki bu forma ishlashini tekshirib ko'rish uchun bizga habar qoldiring 🙃</p>
					
				<form>
					<!-- Name -->
					<div class="mb-4 bg-light-input">
						<label for="yourName" class="form-label">Ismingiz *</label>
						<input type="text" class="form-control form-control-lg" id="yourName">
					</div>
					<!-- Email -->
					<div class="mb-4 bg-light-input">
						<label for="emailInput" class="form-label">Telefon raqamingiz *</label>
						<input type="tel" class="form-control form-control-lg" id="emailInput">
					</div>
					<!-- Message -->
					<div class="mb-4 bg-light-input">
						<label for="textareaBox" class="form-label">Habar *</label>
						<textarea class="form-control" id="textareaBox" rows="4"></textarea>
					</div>
					<!-- Button -->
					<div class="d-grid">
						<button class="btn btn-lg btn-primary mb-0" type="button">Habar qoldirish</button>
					</div>	
				</form>
			</div>
			<!-- Contact form END -->
		</div>
	</div>
</section>

@code{
	
}