@page "/contactus"
@using landing.Components.ContactDetails
@inject HttpClient Http

<section>
	<div class="container">
		<div class="row g-4 g-lg-0 align-items-center">
			<div class="col-md-6 align-items-center text-center">
				<img src="assets/images/element/contact.png" class="h-600px" alt="">
				<SocialMediaButtons />
			</div>
			
			<div class="col-md-6">
				<!-- Title -->
				<h2 class="mt-4 mt-md-0">Keling tanishamiz</h2>
				<p>O'zingizni qiziqtirgan savol va takliflaringiz yuzasidan, yoki shunchaki bu forma ishlashini
					tekshirib ko'rish uchun bizga habar qoldiring 🙃</p>
				
				<form name="contact-form" id="contact-form">
					<div class=" mb-4 bg-light-input" >
						<label for="name" class="form-label">Ismingiz *</label>
						<input type="text" name="Name" class="form-control form-control-lg" id="name" required>
					</div>
					<div class="mb-4 bg-light-input">
						<label for="phone" class="form-label">Telefon raqamingiz *</label>
						<input type="tel" name="Phone" class="form-control form-control-lg" id="phone" required>
					</div>
					<div class="mb-4 bg-light-input">
						<label for="message" class="form-label">Habar *</label>
						<textarea class="form-control" name="Message" id="message" rows="4" required></textarea>
					</div>
					<div class="d-grid">
						<button class="btn btn-lg btn-primary mb-0" type="submit" onclick="Send_Data('@connection.ContactConnection', 'contact-form')">Habar
							qoldirish</button>
					</div>
					<div class="mt-3" id="form_alerts"></div>
				</form>
			</div>
		</div>
	</div>
</section>
<ContactInfo />

@code{
	private Connection connection {get; set;}
	protected override async Task OnInitializedAsync()
	{
		connection = await Http.GetFromJsonAsync<Connection>("credential.json");
	}
}