<footer class="pt-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="/">
					<img class="light-mode-item h-40px" src="assets/images/logo.svg" alt="logo">
					<img class="dark-mode-item h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p class="my-3">Ilmhub - <strong>ilm</strong> va <strong>hub</strong> so'zlarini birlashmasi bo'lib, u ilm taqaladigan va ilmlilar uchrashadigan maskan degan ma'noni anglatadi.</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-youtube" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCExbuFxW_p3VQq573KWS6UQ"><i class="fab fa-fw fa-youtube"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" target="_blank" rel="noopener noreferrer" href="https://t.me/ilmhubuz"><i class="fab fa-fw fa-telegram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-tiktok" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/ilmhubuz"><i class="fab fa-fw fa-tiktok"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Kompaniya</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Biz haqimizda</a></li>
							<li class="nav-item"><a class="nav-link" href="/contactus">Biz bilan bog'laning</a></li>
							<li class="nav-item"><a class="nav-link" href="/contactus">Ishga kiring</a></li>
						</ul>
					</div>
			
				</div>
			</div>
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Aloqa</h5>
				<!-- Time -->
				<p class="mb-1">
					Telefon:<span class="h6 fw-light"><a href="tel:+998946715060">&nbsp+998 94 671 50 60</a></span>
					<p class="h6 fw-light mx-6"><a href="tel:+998946175060">&nbsp+998 94 617 50 60</a></p>
					<span class="d-block small mx-6">(09:00 dan 21:00 gacha)</span>
				</p>
				<p class="mb-0">Email:<span class="h6 fw-light ms-2"><a href="mailto: ilmhub.uz@gmail.com">ilmhub.uz@gmail.com</a></span></p>

			</div>
		</div>

		<hr class="mt-4 mb-0">
		<div class="py-3">
			<div class="container px-0">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<div> Copyrights <a class="text-body">©@DateTime.Now.Year ILMHUB</a>. All rights reserved. </div>
					<div>Version: <a class="text-body">1.1</a>&nbsp;(24.02.2022) </div>
				</div>
			</div>
		</div>
	</div>
</footer>

@code{

}