<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll mx-5">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">
						<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-ui-radios-grid me-2"></i><span>Ro'yhatdan o'tish</span></a>
					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kurslar</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li> <a class="dropdown-item" href="index.html">AI (Computer Vision)</a></li>
							<li> <a class="dropdown-item" href="index.html">Programming (C++)</a></li>
							<li> <a class="dropdown-item" href="index-2.html">Front-end (React)</a></li>
							<li> <a class="dropdown-item" href="index-3.html">Backend (Nodejs)</a></li>
							<li> <a class="dropdown-item" href="index-4.html">Backend (.NET)</a></li>
							<li> <a class="dropdown-item" href="index-5.html">Mobile (Flutter)</a></li>
							<li> <a class="dropdown-item" href="index-6.html">Mobile (iOS/SwiftUI)</a></li>
							<li> <a class="dropdown-item" href="index-7.html">Mobile (Androind/Kotlin)</a></li>
							<li> <a class="dropdown-item" href="index-8.html">.NET Bootcamp</a></li>
							<li> <hr class="dropdown-divider"></li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Design</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">

									<li> <a class="dropdown-item" href="#">3Ds MAX</a> </li>
									<li> <a class="dropdown-item" href="#">Motion Graphics</a> </li>
									<li> <a class="dropdown-item" href="#">UI/UX</a> </li>
					
								</ul>
							</li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Ilmhub KIDS</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">

									<li> <a class="dropdown-item" href="#">Scratch - Game Logic</a> </li>
									<li> <a class="dropdown-item" href="#">Arduino - Robotexnika</a> </li>
									<li> <a class="dropdown-item" href="#">Python - Programming Intro</a> </li>
					
								</ul>
							</li>
						</ul>
					</li>

				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loyihalar</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li> <a class="dropdown-item" href="http://oj.ilmhub.uz">Ilmhub OJ</a></li>
						</ul>
					</li>

				</ul>
				<!-- Nav Main menu END -->

			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->