@inject NavigationManager NavigationManager
@inject HttpClient Http
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand mx-6" href="/">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

				<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse " id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kurslar</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							@foreach (var course in courses)
							{
								<li><a class="dropdown-item" href="/coursedetail/@course.Title">@course.Title</a></li>
							}
							<li> <hr class="dropdown-divider"></li>
							<li class="dropdown-submenu dropend">
								<a href="#" class="dropdown-item dropdown-toggle">Ilmhub KIDS</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									@foreach (var kid in Kids)
									{	
										<li> <a class="dropdown-item" href="/coursedetail/@kid.Title">@kid.Title</a></li>
									}
								</ul>
							</li>
						</ul>
					</li>

				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loyihalar</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li> <a class="dropdown-item" href="http://oj.ilmhub.uz">Ilmhub OJ</a></li>
						</ul>
					</li>

				</ul>
				<!-- Nav Main menu END -->
				<ul class="navbar-nav navbar-nav-scroll px-7">
					<li class="nav-item text-center">
						<a class="btn btn-primary" href="/contactus">Bog'lanish</a>
					</li>
        		</ul>
			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
@code{
	private List<Course> courses = new();
	private List<Course> Kids = new();
	protected override async Task OnInitializedAsync()
	{
		courses = (await Http.GetFromJsonAsync<List<Course>>("data/courses.json")).Where(c => c.Tag!="Kids").ToList();
		Kids = (await Http.GetFromJsonAsync<List<Course>>("data/courses.json")).Where(c => c.Tag == "Kids").ToList();		
	}
}