@inherits LayoutComponentBase

<section class="pt-5 pb-0" style="background-image:url(assets/images/element/map.svg); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-6 text-center mx-auto">
				<!-- Title -->
				<h6 class="text-primary">Aloqaga chiqing</h6>
				<h1 class="mb-4">Biz sizga yordam beramiz!</h1>
			</div>
		</div>
		
		<!-- Contact info box -->
		<div class="row g-4 g-md-5 mt-0 mt-lg-3">
			<!-- Box item -->
			<div class="col-lg-4 mt-lg-0 mx-auto">
				<div class="card card-body bg-primary shadow py-5 text-center h-100">
					<!-- Title -->
					<h5 class="text-white mb-3">Bizning Manzil</h5>
					<ul class="list-inline mb-0">
						<!-- Address -->
						<li class="list-item mb-3">
							<a href="#" class="text-white"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Buyuk Ipak Yo'li ko'chasi 254-uy, Toshkent </a>
						</li>
						<!-- Phone number -->
						<li class="list-item mb-3">
							<a href="#" class="text-white me-3"> <i class="fas fa-fw fa-phone-alt me-2"></i>+998 94 671 50 60 </a>
							<a href="#" class="text-white"><i class="fas fa-fw fa-phone-alt me-2"></i>+998 94 617 50 60 </a>
						</li>
						<!-- Email id -->
						<li class="list-item mb-0">
							<a href="#" class="text-white"> <i class="far fa-fw fa-envelope me-2"></i>ilmhub.uz@gmail.com </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>