@inherits LayoutComponentBase

<div class="d-sm-flex align-items-center justify-content-center mt-2 mt-sm-4">
    <h5 class="mb-0">Bizga obuna bo'ling:</h5> 
    <ul class="list-inline mb-0 ms-sm-2">
        <li class="list-inline-item"> <a class="fs-5 me-1 text-facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-facebook-square"></i></a> </li>
        <li class="list-inline-item"> <a class="fs-5 me-1 text-instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
        <li class="list-inline-item"> <a class="fs-5 me-1 text-youtube" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCExbuFxW_p3VQq573KWS6UQ"><i class="fab fa-fw fa-youtube"></i></a> </li>
        <li class="list-inline-item"> <a class="fs-5 me-1 text-linkedin" target="_blank" rel="noopener noreferrer" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
        <li class="list-inline-item"> <a class="fs-5 me-1 text-dribbble" target="_blank" rel="noopener noreferrer" href="https://t.me/ilmhubuz"><i class="fab fa-fw fa-telegram"></i></a> </li>
        <li class="list-inline-item"> <a class="fs-5 me-1 text-pinterest" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/ilmhubuz"><i class="fab fa-fw fa-tiktok"></i></a> </li>
    </ul>
</div>

